/* Estilos generales */
body {
  font-family: 'San Francisco', sans-serif;
  background-color: #050505;
  color: #333;
}

/* Estilos para la navbar */
.navbar {
  background-color: #9b9b9b;
  box-shadow: none;
  height: 80px; /* Ajusta la altura según sea necesario */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
  color: black;
  padding: 15px 20px;
}

.nav-link {
  color: #333;
  padding: 15px 20px;
}

.nav-link:hover {
  color: #666;
  background-color: #6f6f6f;
}

.nav-link:active {
  font-weight: bold;
  background-color: #6f6f6f;
}

/* Centra los elementos dentro de la barra de navegación */
.navbar-collapse {
  justify-content: center;
  display: flex;
  align-items: center;
}

/* Contenedor que mantiene el icono del usuario a la derecha */
.navbar-left {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.navbar-left .d-flex.align-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-left .d-flex.align-items-center i {
  font-size: 2rem;
  margin-bottom: 5px;
}

.navbar-left .d-flex.align-items-center .text-primary {
  color: #fff;
  font-size: 1rem;
}

h1 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Estilo de texto primario */
.text-primary {
  color: black !important;
  font-family: 'San Francisco', sans-serif;
  font-weight: bold;
}

/* Media Queries para hacer la página responsive */

/* Para pantallas de 768px o más pequeñas (tabletas y dispositivos pequeños) */
@media (max-width: 768px) {
  /* Reducir la altura de la navbar */
  .navbar {
      height: auto;
      flex-direction: column;
      justify-content: center;
  }

  .navbar-nav {
      flex-direction: column;
      width: 100%;
      text-align: center;
  }

  .nav-link {
      padding: 10px 15px;
      font-size: 1rem;
  }

  /* Ajustar los íconos y texto del usuario */
  .navbar-left {
      margin-right: 0;
      margin-bottom: 15px;
  }

  /* Ajustar el tamaño del logo (si es necesario) */
  .navbar-brand {
      font-size: 1.5rem;
  }
}

/* Para pantallas de 480px o más pequeñas (teléfonos móviles) */
@media (max-width: 480px) {
  h1 {
      font-size: 60px; /* Reducir el tamaño del título */
  }

  .navbar-nav {
      flex-direction: column;
      text-align: center;
  }

  .nav-link {
      font-size: 0.9rem; /* Ajustar el tamaño de los enlaces */
  }

  .navbar-brand {
      font-size: 1.2rem;
  }
}