{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7H+y+w/7sN9IFh"   
crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'custom/css/pricipal.css' %}">
<style>
  body {
    font-family: 'San Francisco', sans-serif;
    background-color: #050505; 
    color: #333;
  }
  .tabla-responsive {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #050505;
    font-family: 'San Francisco', sans-serif;
    color: white;

}

.tabla-responsive th,
.tabla-responsive td {
    text-align: center;
    padding: 15px;
}
</style>
<body>
<table class="tabla-responsive">
  <thead>
      <tr>
          <th>Producto</th>
          <th>Nombre</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Precio de Venta</th>
          <th>Descripción</th>
          <th>Fecha de registro</th>
          <th>Codigo de producto</th>
          <th>Historial</th>
          </tr>
  </thead>
  <tbody>
      {% for registro in registros %}
      <tr>
        <td data-cod-producto="{{ registro.cod_producto }}"></td>
          <td>{{ registro.nombre }}</td>
          <td>{{ registro.marca }}</td>
          <td>{{ registro.modelo }}</td>
          <td>{{ registro.cantidad }}</td>
          <td>{{ registro.precio }}</td>
          <td>{{ registro.precio_venta }}</td>
          <td>{{ registro.descripcion }}</td>
          <td>{{ registro.fecha_registro }}</td>
          <td>{{ registro.cod_producto }}</td>
            <td>
              <a href="{% url 'generar_pdf' registro.cod_producto %}" target="_blank" class="btn btn-primary">
                  Descargar Historial
              </a>
          </td>   
          </tr>
      {% endfor %}
  </tbody>
</table>
</body>
<script>
  const STATIC_URL = "{{ STATIC_URL }}";
  // Mapea los códigos a las imágenes
  const productImages = {
    '1': 'custom/images/GRAFICA_GIGABYTE_RTX_4060.webp',
    '2': 'custom/images/GRAFICA_GIGABYTE_RTX_4060TI.webp',
    '3': 'custom/images/GRAFICA_GIGABYTE_RTX_4080_SUPER.webp',
    '4': 'custom/images/GRAFICA_ZOTAC_RTX_3050.webp',
    '5': 'custom/images/GRAFICA_ASROCK_RX_6600.webp',
    '6': 'custom/images/PLACABASE_GIGABYTE_H610M.webp',
    '7': 'custom/images/PLACABASE_GIGABYTE_Z890.webp',
    '8': 'custom/images/PLACABASE_ASUS_B650M.webp',
    '9': 'custom/images/PLACABASE_ASUSROG_X870E.webp',
    '10': 'custom/images/PLACABASE_MSI_A520M.webp',
    '11': 'custom/images/PROCESADOR_RYZEN5_7600X.webp',
    '12': 'custom/images/PROCESADOR_RYZEN7_5800X.webp',
    '13': 'custom/images/PROCESADOR_RYZEN9_5900X.webp',
    '14': 'custom/images/PROCESADOR_CORE5_12400F.webp',
    '15': 'custom/images/PROCESADOR_CORE7_14700KF.webp',
};

  // Itera sobre las filas de la tabla
  document.querySelectorAll('td[data-cod-producto]').forEach(td => {
    const codProducto = td.getAttribute('data-cod-producto'); // Obtén el código del producto
    const imgSrc = productImages[codProducto]; // Busca la imagen en el diccionario

    if (imgSrc) {
      td.innerHTML = `<img src="${STATIC_URL}${imgSrc}" alt="Imagen del producto" style="width:100px; height:auto;">`;
    }
});
</script>


{% endblock %}